<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.angcyo.ble">

    <!--https://www.jianshu.com/p/795bb0a08beb-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />


</manifest>
